AZURE_TENANT_ID=REEMPLAZAR_TENANT_ID
AZURE_API_AUDIENCE=REEMPLAZAR_API_APP_ID
CORS_ALLOWED_ORIGINS=https://REEMPLAZAR_FRONTEND

DB_NAME=pedidos360
DB_USER=pedidos360
DB_PASSWORD=REEMPLAZAR_CLAVE_DB

RABBITMQ_USER=pedidos360
RABBITMQ_PASSWORD=REEMPLAZAR_CLAVE_RABBIT
RABBITMQ_ERLANG_COOKIE=REEMPLAZAR_COOKIE_LARGO

SMTP_ENABLED=false
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=
NOTIFICATION_TO=
